body{
	margin:0; 
	padding:0; 
	font-size:13px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	color:#979797; 
	background-color:#FFFFFF;
}
.clear:after{
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
	line-height:0;}
.clear{
	display:block;
	 clear:both;
	}

a{
	outline:none; 
	text-decoration:none;
}

.fl_left{
	text-align: center;
}
.fl_right{
	float:right;
}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block; 
	width:960px; 
	margin:0 auto; 
	padding:0; 
	text-align:left;
}
.row1, .row1 a{
	color:#000; 
	background-color:#FFFFFF;
}
.row2{
	color:#000; 
	background-color:#FFFFFF;
}
.row2 a{
	color:#FF9900;
	 background-color:#FFFFFF;
	}
.row3{
	border-top:1px solid #DEDEDE;
}
.row3, .row3 a{
	color:#979797; 
	background-color:#FFFFFF;
}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{
	display:block; 
	width:960px;
}

nav ul{
	margin:0; 
	padding:0; 
	list-style:none;}

h1, h2, h3, h4, h5, h6{
	margin:0; 
	padding:0;
	font-size:16px;
	font-weight:bold; 
    font-style:normal; 
    line-height:normal; 
    text-transform:uppercase;
	}



/*----------------------------------------------Header-------------------------------------*/

#header{ 
	margin:0px;
	padding:0px;
}
#header #hgroup{
	padding:20px 0 0 0; 
	float:left;
}
#header nav{
	display:block; 
	float:left; 
	margin:20px 0 0 0; 
	padding:0 12px 12px 0;
}
#header nav ul{}
#header nav li{
	display:inline;
	 margin-right:5px;
	  border-right: 1px solid#666;
	  font-size: 11px;
	}
#header nav li:first-child{
	border-left:1px solid#666;
}
#header nav li a{
	padding:5px 5px;
}
#header nav li a:hover{
	color:#000; 
	background-color:#F0F0F0;
}
#header nav li #active{
	background-color:#A6A6A6; 
	color: #fff;
}

/*----------------------------------------------Content Area-------------------------------------*/

#container{
	padding:0;
}
#container section{
	display:block; 
	width:100%; 
	margin:0 0 30px 0; 
	padding:0;}

/* ------Left Column-----*/

#container #left_column{
	float:left; 
	width:280px;
}
#container #left_column h2.title{
	margin-bottom:15px;
	padding-bottom:15px; 
	}
#container #left_column .title p{
	text-align: center; 
	padding:20px 0;
}



/* ------Main Content-----*/

#container #content{
	float:right; 
	width:630px; 
	line-height:1.6em;
}
#container #content article{
	margin-bottom:30px;
}

#content h3{
	padding-left: 8px;
    border-left: 5px solid #444;
    color: #444;
	line-height: 1.3;
	font-size: 14px;
}
#content .line{
	border-bottom: 1px dotted;
}
span .company_01 {color:#333;}
.line{border-bottom: 1px dotted;}

/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:20px 0;}
#footer p{margin:0; padding:0; text-align: center;}